{% extends "base.html" %}
{% block content %}
<h1>People</h1>
<p>Thanks to Jim Career for his generous hosting of our servers, and this website.</p>
<h1>Projects</h1>
<p>This entire site is done based on the <a href="http://www.djangoproject.com/">django</a> project.</p>
<p>The server is hosted using the <a href="http://www.ubuntu.com/">Ubuntu</a> Linux distribution.</p>
<p>
    We use <a href="http://www.apache.org/">Apache</a> for the website. and we use
    <a href="http://www.mysql.com/">MySQL</a> for the database.
</p>
{% endblock %}
{% block header %}
Credits
{% endblock %}
