{% extends "base.html" %}
{% block content %}
<h1>Welcome</h1>
<p>
    Welcome to the Speed ACM Minecraft Website.  Our group is made up almost entirely of students at the University of Louisville 
    Speed School of Engineering, and we are almost all members of the ACM.
    We use this site as a base for our minecraft-related projects.  We currently operate one minecraft alpha server, but we intend
    to have more in the near future.  We keep all our server statistics <a href="/stats/">here</a> and keep an <a href="/map/">updated map</a>,
    with some really cool zoom functionality.
</p>
<p>
    Most of us are also open source advocates, and we take pride in the software we have chosen.  In fact, we have even chosen to make
    this project open source.  We keep an updated list of all the open source software we use <a href="/credits">here</a>.
</p>
{% endblock %}
{% block header %}
Home
{% endblock %}
